<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Basic browser login">

	<listeners>
		<listener class-name="extentreportListener.ExtentReporterNG" />
	</listeners>


	<test name="Testing">
		<classes>
			<class name="Testing_Ankita.DemoMavenProject1.Test_Maven"></class>
			
		</classes>
	</test>
</suite>